html
    head
        link(href='css/style.min.css')
    body
        span Lorem ipsum 66666dolor sit, amet consectetur adipisicing.
        include html/header
        main.page 
            img(src="@img/picture.jpg", alt="")
        include html/footer
        script(src='js/app.min.js')